future>=0.16
packaging>=16.8
appdirs>=1.4
numpy>=1.9 # for array manipulation and Memory-mapped file
dill>=0.2 # for serializing manipulation
joblib>=0.8 # for memoization and Memory-mapped file
pycallgraph>=1.0
pyqtgraph>=0.9 # for image array visualization and visual interfaces (it got pyqt in it)
sympy>=1.0
matplotlib>=1.4
pyperclip>=1.5