future>=0.16.0
packaging
appdirs
numpy>=1.9.2 # for array manipulation and Memory-mapped file
dill>=0.2.4 # for serializing manipulation
joblib>=0.8.4 # for memoization and Memory-mapped file
pycallgraph>=1.0.1
pyqtgraph>=0.9.10 # for image array visualization and visual interfaces (it got pyqt in it)
sympy>=1.0
matplotlib>=1.4.3
pyperclip>=1.5.26